
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: var(--base-font);
    line-height: 1.6;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
  }
  
  a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s, opacity 0.3s;
  }
  
  a:hover {
    color: var(--gray);
    opacity: 0.8;
  }
  
  p {
    font-size: 16px;
    font-family: var(--secondary-font);
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  ul, ol {
    list-style: none;
  }
  
  button {
    width: 80px;
    height: 30px;
    background-color: transparent;
    color: var(--gray);
    border: 1px solid var(--gray);
    border-radius: 20px;
    cursor: pointer;
    transition: color 0.3s, border-color 0.3s, background-color 0.3s;
    margin-bottom: 1rem;
  }
  
 
  
  @media screen and (max-width: 375px) {
    body {
      font-size: 14px;
    }
  
    p {
      font-size: 14px;
    }
    button {
      width: 80px;
      height: 30px;
      background-color: transparent;
      color: var(--gray);
      border: 1px solid var(--gray);
      border-radius: 20px;
      cursor: pointer;
      transition: color 0.3s, border-color 0.3s, background-color 0.3s;
      margin-bottom: 1rem;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      left: 35px;
    }
    
  }